/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

* {
    margin: 0;
    padding: 0;
}

// The *  universal selector targets all types of elements, it is not the root css selector.
// When we set box-sizing to inherit on all types of elements, we are basically saying that 
// we want the box-sizing to inherit whatever the parent's box-sizing is.  Since we set the 
// box-sizing property to border-box on the <body>  element (which is one of the document's 
// top-most nodes), the property is effectively passed on to all child / grandchild elements.
*,
*::before,
*::after {
    box-sizing: inherit;
    font-size: 62.5%; // 1rem = 10px
}

html {
    box-sizing: border-box;
}

body {
    background-color: #eb2f64;
}